html {
     padding-left: 55px;
     padding-right: 55px;
     margin-inline: auto;
     text-align: center;
     background-color: rgb(218, 180, 204);
}

.info {
     border: 2px solid rgb(184, 19, 96);
     border-radius: 50px;
     margin-top: 20px;
     background-color: white;
     max-width: 1050px;
     margin-inline: auto;
}

.first-button {
     color: rgb(184, 19, 96);
     display: inline-block;
     padding: 10px 20px;
}

.content-hidden {
     display: none;
}